<!-- menu -->
<div class="white_box"> 
  <h1>What to do?</h1>
  <table style="width:100%">
    <tr> 
      <td> <a href="admin.php?action=users&amp;what=view" class="image"><img src="images/users_view.gif" alt="View registered users" /><br />
        View all users</a><br />
        <br /> </td>
      <td><a href="admin.php?action=users&amp;what=approve" class="image"><img src="images/users_approve.gif" alt="Approve new users" /><br />
        Approve new users</a><br />
        <br /> </td>
    </tr>
    <tr> 
      <td> <a href="admin.php?action=users&amp;what=account" class="image"><img src="images/users.gif" alt="Manage" /><br />
        Manage users' accounts</a><br />
        <br /> </td>
      <td><a href="admin.php?action=users&amp;what=delete" class="image"><img src="images/users_close.gif" alt="Delete" /><br />
        Delete users</a><br />
        <br /> </td>
    </tr>
  </table>
</div>
<!-- end menu-->
