<!-- change password -->
<div class="white_box">
<form id="ChangePassword" method="post" action="admin.php?action=changepassword">
<div>
<h1>Enter a new password</h1>
  <input name="password1" type="password" id="password1" size="30" maxlength="50" />
  <label for="password1">New password</label><br />
  <input name="password2" type="password" id="password2" size="30" maxlength="50" />
  <label for="password2">Confirm new password</label><br /><br />
  <input type="submit" value="Change password" id="Login" />
</div>
</form>
</div><br />
<!-- change password -->
