<!-- login form -->
<div class="white_box">
<form id="ChangePassword" method="post" action="index.php?action=changepassword">
<div>
<h1>Enter a new password</h1>
  <input name="current_password" type="password" id="current_password" size="25" maxlength="30" />
  <label for="current_password">Your current password</label><br />
  <input name="password1" type="password" id="password1" size="25" maxlength="30" />
  <label for="password1">New password</label><br />
  <input name="password2" type="password" id="password2" size="25" maxlength="30" />
  <label for="password2">Confirm new password</label><br /><br />
  <input type="image" src="images/submit.gif" value="Change password" id="Login" />
</div>
</form>
</div>
<!-- no more -->
