<!--get password -->
<div class="white_box"> 
  <form id="GetPassword" method="post" action="index.php?action=lostpassword">
    <div> <h1>Get a new password</h1>
      <table cellspacing="1" cellpadding="1">
        <tr>
		<td>Email address:</td>
          <td><input name="email" type="text" id="email2" size="30" maxlength="150" /></td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
          <td><input type="image" src="images/submit.gif" name="action[lostpassword]" /></td>
        </tr>
      </table>
      
    </div>
  </form>
</div>
<!-- end form-->